* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e5e5e5;
  margin: 0;
  padding: 20px;
}

.kapsayıcı {
  max-width: 1100px;
  margin: auto;
}


.header {
  border: 2px solid #444;
  background-color: #f2f2f2;
  text-align: center;
  padding: 15px;
}


.arama {
  margin-top: 15px;
  border: 2px solid #444;
  background-color: #f2f2f2;
  text-align: center;
  font-weight: bold;
  padding: 8px;
}


.fıltre {
  border: 2px solid #444;
  border-top: none;
  background-color: #fff;
  padding: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#aramainputu {
  padding: 6px;
  width: 200px;
}

#listelemebutonu {
  padding: 6px 12px;
  cursor: pointer;
}

#filtresecme {
  padding: 6px;
}


.yuklenıyorekranı {
  margin-top: 15px;
  border: 2px solid #444;
  background-color: #f2f2f2;
  text-align: center;
  padding: 8px;
}

.araclar {
  margin-top: 20px;
  border: 2px solid #444;
  background-color: #f2f2f2;
  padding: 15px;
}

.araclar h2 {
  text-align: center;
  margin-bottom: 15px;
}


.arackartları {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
}


.card {
  background-color: #fff;
  border: 2px solid #555;
  padding: 12px;
  text-align: center;
}

.card h3 {
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
  margin: 4px 0;
}

.card button {
  margin-top: 10px;
  padding: 6px;
  width: 100%;
  cursor: pointer;
}

.detaypaneli {
  display: none;
  margin-top: 25px;
  border: 2px solid #444;
  background-color: #f9f9f9;
  padding: 20px;

}

.detaypaneli h3 {
  text-align: center;
  margin-bottom: 15px;
  color: black;
}

.detaylar {
  max-width: 400px;
  margin: auto;
}

.detaylar p {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  color: rgb(68, 67, 67);
}

.detaypaneli button {
  display: block;
  margin: 15px auto 0;
  padding: 6px 15px;
  cursor: pointer;
}


.hakkımızda,
.iletisim {
  margin-top: 20px;
  border: 2px solid #444;
  background-color: #f2f2f2;
  text-align: center;
  padding: 15px;
}

#darkmode {
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  border: solid 1px #444;
  
  margin-top: 5px;
}


body.dark {
  background-color: #121212;
  color: white;
}

body.dark .header,
body.dark .arama,
body.dark .fıltre,
body.dark .yuklenıyorekranı,
body.dark .araclar,
body.dark .hakkımızda,
body.dark .iletisim {
  background-color: #1f1f1f;
  border-color: #444;
}

body.dark .card {
  background-color: #2a2a2a;
  color: white;
}

body.dark input,
body.dark select {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

body.dark button {
  background-color: #444;
  color: white;
}
